* {
    cursor: url(mouse.cur), auto;
}
body {
	background: url(GIF2.gif) no-repeat center center fixed;
	background-repeat:no-repeat;
    background-position:center;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-family: monospace;
    font-weight: bold;
    color: #020202;
    text-shadow: 1px 1px 0px rgb(0, 0, 0) -1px -1px 0px rgb(0, 0, 0)
}
pre {
    text-align: center;
    font-family: monospace;
	color: rgba(0, 0, 0, 0.62);
}
#center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    color: #020202;
}